body{
    /* min-height: 100vh; */
}
footer{
    max-height: 150px;
}
nav {
    margin-bottom: 50px;
}
/* .space-container-big {
    height: 300px;
} */
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    padding: 0 25px;
}
.card{
    height: 100%; 
}

.container_form {
    padding-left: 40px; 
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.link{
    display: block;
    text-align: center;
    font-size: 1.15em;
}

.table table {
    text-align: center !important;
}